{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Music Collaboration{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Music Collaboration</a>  <!-- Перенаправление на главную страницу -->
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'projects:project_list' %}">Проекты</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'chat:chat_list' %}">Чаты</a></li>
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Выход</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">Регистрация</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Вход</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<footer>
    <p>&copy; D3M1.dev {{ current_year }} Music Collaboration</p>
</footer>

<style>
    footer {
        background-color: #007bff;
    }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>