{% extends 'base.html' %}

{% block title %}
  {{ project.name }}
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2>{{ project.name }}</h2>
    <p>{{ project.description }}</p>

    {% if project.owner_id == current_user.id %}
      <p>У вас нет доступа для изменения проекта</p>
    {% else %}
      <a href="{% url 'projects:project_edit' project.id %}" class="btn btn-success">Изменить проект</a>
      <form action="{% url 'projects:project_delete' project.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить проект</button>
      </form>
    {% endif %}

    <h3>Задачи</h3>
    <ul>
      {% for task in project.tasks.all %}
        <li>
          {{ task.title }} -
          <a href="{% url 'tasks:task_edit' project.id task.id %}">Редактировать</a>
          (Статус: {{ task.get_status_display }}){% if task.due_date %}
            - Срок: {{ task.due_date|date:'Y-m-d H:i' }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <a href="{% url 'tasks:task_create' project.id %}" class="btn btn-primary">Добавить новую задачу</a>
    <a href="{% url 'projects:project_list' %}" class="btn btn-secondary">Назад к списку проектов</a>

    <hr />

    <h3>Аудиофайлы</h3>
    <a href="{% url 'version_control:file_list' project.id %}" class="btn btn-primary">Просмотреть аудиофайлы</a>
    <a href="{% url 'version_control:upload_file' project.id %}" class="btn btn-primary">Загрузить новый аудиофайл</a>

    <hr />

    <!-- Список запросов на вхождение в проект -->
    <h3>Запросы на вхождение в проект</h3>
    {% if project.join_requests.exists %}
      <ul class="list-group">
        {% for request in project.join_requests.all %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ request.user.username }} 
            {% if request.confirmed %}
              <span class="badge badge-success">Подтверждено</span>
            {% else %}
              <form action="{% url 'projects:confirm_join_request' request.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">Подтвердить</button>
              </form>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Нет запросов на вхождение в проект.</p>
    {% endif %}
  </div>
{% endblock %}
